<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Task App">
        <title>Task App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='task.css') }}">
    </head>
    <body>
        
        <div id="heading"><h1>Task App</h1></div>
        
        <nav>
            <a href="{{ url_for('index') }}"> Home</a> ||
            <a href="{{ url_for('get_tasks') }}">My Tasks</a> ||
            <a href="{{ url_for('new_task') }}">Add Task</a> ||
            {% if user %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
        
        <h3>Tasks</h3>
        <div class="taskswrapper">
            <table>
                <tr>
                    <th width="10%"> Task Name </th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td class="buttontd">
                        <form action="{{ url_for('get_task',task_id=task.id) }}" >
                            <input class="button" type="submit" value="{{ task.title }}">
                        </form>
                    </td>

                    <td class="buttontd">
                        <form action="{{ url_for('update_task', task_id=task.id) }}" >
                            <input class="button" type="submit" value="Edit">
                        </form>
                    </td>
                    <td class="buttontd">
                        <form action="{{ url_for('delete_task', task_id=task.id) }}" method="post">
                            <input class="button" type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>